<p id="text12">Preduzeće za projektovanje, izradu i opremanje interijera</p>

<app-bootcarousel></app-bootcarousel>



  <div id="logo" class="d-flex justify-content-center align-content-center">

  <img id="img1" class="img" src="assets/img/logo1.png" />
</div>


<div class="row container-fluid" id="googlemaps">
  <div class="col-md-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19633.499669434226!2d18.320469717574348!3d43.86214554515102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758cb9e6e6ce7c1%3A0x6d0616c199f57b70!2sSafeta%20Zajke%20253%2C%20Sarajevo%2071000!5e0!3m2!1shr!2sba!4v1646126426313!5m2!1shr!2sba"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="col-md-6" id="text1">
    Pronađite nas na lokaciji označenoj na mapi <br />

    <mat-icon id="locicon">location_on</mat-icon>
  </div>
</div>
