<div class="container d-flex justify-content-center">
<mat-list class="border">
    <mat-list-item><a href="tel:061-141-826"> <mat-icon id="phoneicon" style="font-size: 28px">call</mat-icon>061 141 826</a></mat-list-item>
    <mat-list-item><mat-icon id="mailicon" style="font-size: 28px">mail</mat-icon> singensdoo@hotmail.com</mat-list-item>
    <mat-list-item><a href="https://www.facebook.com/Singens-doo-1869362329773616" target="_blank"><i class="fa fa-facebook-square" style="font-size: 26px" id="fbicon"></i>Singens d.o.o Facebook</a></mat-list-item>
    <mat-list-item><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D43.8714615%252C18.3109941%26fbclid%3DIwAR2Dy6yd_SYZZRY3B5kJtM9hd_3TGkhygRSRIrFNj4g77HpXYXmUxKwOZnk&h=AT2_94Ae1YGKjYQM47PrxjaoyQalwVNNSCAPSftd0QSbK0UBEG72Px32vgtBYlWC8l3W2_v1cyt4v8CMb9bXxPUbfX9MtI0rMxkO26EMPoKATrkhIq749ZwmmqbfMM-CggenXA" target="_blank"><mat-icon style="font-size: 28px" id="addressicon">home</mat-icon>Safeta Zajke 137A, 71000 Sarajevo</a></mat-list-item>
    <mat-list-item id="instagramid"><a href="" target="_blank"><i style="font-size: 28px" class="fa fa-instagram" aria-hidden="true" id="igicon"></i>Singens d.o.o Instagram</a></mat-list-item>
</mat-list>
</div>
