.container {
    font-size: 26px;
    margin-top: 4%;
}

#phoneicon {
    margin-right: 15px;
    color:  #8db600;

}

mat-list-item {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#mailicon {
    margin-right: 10px;
}

mat-icon {
   vertical-align: middle;
}
i {
    vertical-align: middle;
}

a {
    color: inherit;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#fbicon {
    margin-right: 10px;
}

#igicon {
    margin-right: 10px;
}

#instagramid {
    display: none;
}

#addressicon {
    margin-right: 10px;
}